* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: sticky;
    top: 0;
}

#title {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

header ul li {
    display: inline;
    margin-left: 1rem;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header ul li a:hover {
    text-decoration: underline;
    color: #007BFF;
}

main {
    padding: 5rem;
}

#acceuil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 13rem;
}

#acceuil h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#acceuil span {
    color: #007BFF;
    text-decoration: underline;
}

#acceuil p {
    font-size: 1.2rem;
    color: #666;
}

#acceuil img {
    margin-top: 5rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007BFF;
}

#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 2rem;
}

#services h2 {
    font-size: 2rem;
    color: #333;
}

#services p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}

#service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#service-card {
    background: linear-gradient(135deg, #7c7c7c3d 85%, #007BFF 15%);
    border-radius: 8px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

#service-card h3 {
    display: flex;
    min-height: 4rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#service-card p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #666;
}

#service-card #others {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    width: 100%;
}   

#service-card #others svg {
    width: 65px;
    height: 65px;
    fill: #007BFF;
    margin: 0 0.5rem;
    transition: fill 0.3s;
}

#service-card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.2);
}